In [1]:
!Python --version

Python 3.9.7

In [2]:
# Variables in Python are the containers which holds the values. Values like numbers, string, computed results.

In [3]:
# Storing a value in a variable

numberOfApples = 12   # Variable name can include all uppercase alphabets (A-Z) and all lowercase alphabets(a-z), underscore
numberOfApples        # and 0-9 digits. In addition, variable name cannot start with a digit.

12

In [4]:
costOfOneApple = 10
costOfOneApple

10

In [5]:
totalAmountPaid = numberOfApples * costOfOneApple
totalAmountPaid

120

In [9]:
print("Total amount paid:",totalAmountPaid)

Total amount paid: 120

In [11]:
type(totalAmountPaid)

int

In [13]:
# Storing string to the variable

Str_1 = "Hello"
Str_2 = "World"

print(Str_1 + Str_2)

HelloWorld

In [19]:
print(Str_1 * 3)

HelloHelloHello

In [25]:
concateStr_1 = Str_1 * 4

print(concateStr_1)
len(concateStr_1)

HelloHelloHelloHello

20

In [26]:
concateStr_1 = Str_1 * 4

print(concateStr_1 + "!") # Note: concatinating '!' to the concateStr_1 EXPLICITLY does not change the string value stored
len(concateStr_1)         # in the concateStr_1. That's why the length of concateStr_1 is still 20.

HelloHelloHelloHello!

20

In [27]:
var1 = var2 = var3 = "Python" # used to store same value to multiple variables.

print(var1)
print(var2)
print(var3)

Python
Python
Python

In [28]:
print(var1 == var2) # "==" comparision operator returns True if the values are same for the variable else return False.

True

In [31]:
x = 2
y = 3.5
z = "String"
print(x)
print(y)
print(z)

# Assigning different values to different variable in single line

x, y, z = 2, 3.5, "String"
print(x)
print(y)
print(z)

2
3.5
String
2
3.5
String

In [32]:
# Assigning values through variable
x = 20
y = 30

z = x #Storing the value of x in the new container z.

print(x, y, z)

20 30 20

In [34]:
x += y + 2
print(x)

52

In [35]:
print(z) # Value of z will not change as it a new storing location.

20