In [3]:
# Python List: is used to store the sequence of data which is mutuable in nature.(can modify its element after we created it)

In [4]:
list = [1,"Python", 3.7]
type(list)

list

In [5]:
#List are ordered and also called ordered collection of objects.

List1 = [1,2.5,"abc",3,"bcd"]
List2 = [1,2.5,"abc","bcd",3]

List1 == List2

False

In [11]:
#List can be accessed by its index.

Address = [42, "Orchid Farms","New Delhi", 281123]
tenant = ["John","Harry","Charles"]
TotalAmountPaid= 3000
Owner ="Mr. Mark"

print("Name of the owner: ", Owner)
print("Complete Address of house: ", Address)
print("House Number: ",Address[0],"Street Name: ",Address[1],"City: ",Address[2],"Pincode: ",Address[3])
print("Name of Tenant 1: ",tenant[0],"Name of Tenant 2: ",tenant[1],"Name of Tenant 3: ", tenant[2] )
print("Total Amount Paid", TotalAmountPaid)
print("Amount paid by indivisual Tenant: ",TotalAmountPaid/3)

#Alternative way to access index for List
print("House N0. %s, Street: %s, City: %s, Pincode: %d" %(Address[0],Address[1],Address[2],Address[3]))

Name of the owner:  Mr. Mark
Complete Address of house:  [42, 'Orchid Farms', 'New Delhi', 281123]
House Number:  42 Street Name:  Orchid Farms City:  New Delhi Pincode:  281123
Name of Tenant 1:  John Name of Tenant 2:  Harry Name of Tenant 3:  Charles
Total Amount Paid 3000
Amount paid by indivisual Tenant:  1000.0
House N0. 42, Street: Orchid Farms, City: New Delhi, Pincode: 281123

In [33]:
# Slicing in List

List = [ 10,12,3,54,28,7,65,"Richa",9.8]

#Slicing Syntax: list[start:stop:step]
#Start= Starting index; stop= ending index but exclusive; step= step to skip.

print(List[0])
print(List[7])
print(List[8])

print(List[0:9]) # 9th index exclusive
print(List[1:8])
print(List[2:7])
print(List[2:7:2])# skip every 1 element.

#Using negative slicing
print(List[-1]) # first index from rightmost
print(List[-9:-1])
print(List[-7:-2])

10
Richa
9.8
[10, 12, 3, 54, 28, 7, 65, 'Richa', 9.8]
[12, 3, 54, 28, 7, 65, 'Richa']
[3, 54, 28, 7, 65]
[3, 28, 65]
9.8
[10, 12, 3, 54, 28, 7, 65, 'Richa']
[3, 54, 28, 7, 65]

In [38]:
#Operations in List

list = [1,2,3,4]
print(list * 3)

list2 = [6,7,2,8]
print( list + list2)

print(3 in list) #membership: to search the element in list returns True if yes otherwise False

for i in list: #iterating the list, prints the element present at the index
    print(i)

list2.remove(2)
print(list2)

len(list) #length of the list

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 6, 7, 2, 8]
True
1
2
3
4
[6, 7, 8]

4

In [40]:
# Built-in Functions of List